# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build folders
.next/
out/
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel/

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts